/* src/scss/components/_sidebar.scss */
@use '../base/variables' as v;

.MuiDrawer-paper {
    background-color: v.$drawer-bg !important;
    color: v.$drawer-text !important;
    transition: background-color 0.3s ease, color 0.3s ease; // Προσθέτουμε transition
}

.MuiListItemButton-root {
    border-left: 5px solid transparent;
    color: v.$drawer-text;
    transition: all 0.3s ease !important;

    .MuiListItemIcon-root {
        color: v.$drawer-text;
        transition: all 0.3s ease;
    }

    &:hover,
    &.Mui-selected {
        color: v.$drawer-hover-text;
        background-color: v.$drawer-hover-bg;
        border-left: 5px solid v.$primary-color;

        .MuiListItemIcon-root {
            color: v.$drawer-hover-text;
        }
    }
    
    // Δεν αλλάζουν τα υπόλοιπα στυλ διάταξης
    padding: 10px 16px;
    justify-content: flex-start;
    gap: 8px;

    .MuiListItemText-root {
        margin-left: -30px;
    }
    
    &.sub-item {
        padding-left: 32px !important;
        &:hover,
        &.Mui-selected {
            padding-left: 40px !important;
        }
    }
}

// Απόκρυψη της scrollbar (παραμένει το ίδιο)
.MuiDrawer-paper {
    &::-webkit-scrollbar { display: none; }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
