/* src/scss/components/_tables.scss */
@use '../base/variables' as v;

// Γενικό στυλ για την κεφαλίδα του πίνακα
.MuiTableHead-root .MuiTableCell-head {
  background-color: v.$primary-color;
  color: #ffffff; // Το λευκό είναι συνήθως σταθερό εδώ
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
}

// Γενικό στυλ για το σώμα του πίνακα
.MuiTableBody-root .MuiTableRow-root {
  transition: background-color 0.3s ease;
  
  &:nth-of-type(odd) {
    background-color: v.$paper-color;
  }
  &:nth-of-type(even) {
    // Χρησιμοποιούμε μια ελαφριά απόχρωση του background για τις ζυγές σειρές
    background-color: color-mix(in srgb, v.$background-color 95%, #000 5%);
  }

  &:hover {
    background-color: color-mix(in srgb, v.$primary-color 10%, transparent);
  }
}

// Στυλ για τη γραμμή φίλτρων
#filter-row {
  background-color: v.$paper-color !important;
  
  .MuiTableCell-root {
    color: v.$text-primary;
  }
  
  .MuiInputBase-input {
      color: v.$text-primary;
  }
}
