body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 20px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 30px;
  background: var(--color-background);
  background-image: linear-gradient(to bottom right, var(--color-background), var(--color-paper)); /* Disable if too heavy */
  overflow-y: auto;
  box-sizing: border-box;
}
